In [ ]:
#Alexandre Yucra
#Catarina Caneiro
#Gabriel Rocha


#Resolvemos trocar a base pois a ultima que cada um utilizou não havia uma variavel dependente.
#Por se tratar de uma base relativamente pequena optamos por substituir os dados
#nulos em vez de excluir.

#Variavel dependente = "idep"(fórmula geral do IDEB é dada por: IDEB = Proficiência
#(N) x Aprovação (P) (N) é a média da proficiência em Língua Portuguesa e Matemática,
# padronizada para um indicador entre 0 e 10).

#Variaveis independentes = "nota_saeb_matematica","nota_saeb_lingua_portuguesa","taxa_aprovação"

  
#No caso desse problema seria AM supervisionado por conta que ja temos dados dos anos
#anteriores então podemos "conhercer" qual seria o valor do idep e também porque temos muitas
#bases sobre educação do gov.

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
Dados = pd.read_csv('regiaoOpenLab.csv', ";")
df = pd.DataFrame(Dados)

In [25]:
df

,ano,regiao,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb,projecao
0,2005,Centro-Oeste,estadual,fundamental,finais (6-9),72.1,0.721828,233.50,227.88,43.564.529,3.1,NaN
1,2005,Centro-Oeste,estadual,fundamental,iniciais (1-5),83.0,0.837081,185.38,172.13,4.631.618,3.9,NaN
2,2005,Centro-Oeste,estadual,medio,todos (1-4),68.0,0.695138,261.23,251.52,41.236.539,2.9,NaN
3,2005,Centro-Oeste,privada,fundamental,finais (6-9),94.4,0.943491,283.57,266.82,58.401.828,5.5,NaN
4,2005,Centro-Oeste,privada,fundamental,iniciais (1-5),97.3,0.972388,223.64,210.36,6.057.024,5.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
490,2021,Sul,publica,fundamental,finais (6-9),NaN,NaN,NaN,NaN,NaN,NaN,5.6
491,2021,Sul,publica,fundamental,iniciais (1-5),NaN,NaN,NaN,NaN,NaN,NaN,6.4
492,2021,Sul,total,fundamental,finais (6-9),NaN,NaN,NaN,NaN,NaN,NaN,5.8
493,2021,Sul,total,fundamental,iniciais (1-5),NaN,NaN,NaN,NaN,NaN,NaN,6.5
494,2021,Sul,total,medio,todos (1-4),NaN,NaN,NaN,NaN,NaN,NaN,5.5

In [33]:
dfresult = df.dropna(subset=[1,2], axis=1)
dfresult

,ano,regiao,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb
0,2005,Centro-Oeste,estadual,fundamental,finais (6-9),72.1,0.721828,233.50,227.88,43.564.529,3.1
1,2005,Centro-Oeste,estadual,fundamental,iniciais (1-5),83.0,0.837081,185.38,172.13,4.631.618,3.9
2,2005,Centro-Oeste,estadual,medio,todos (1-4),68.0,0.695138,261.23,251.52,41.236.539,2.9
3,2005,Centro-Oeste,privada,fundamental,finais (6-9),94.4,0.943491,283.57,266.82,58.401.828,5.5
4,2005,Centro-Oeste,privada,fundamental,iniciais (1-5),97.3,0.972388,223.64,210.36,6.057.024,5.9
...,...,...,...,...,...,...,...,...,...,...,...
490,2021,Sul,publica,fundamental,finais (6-9),NaN,NaN,NaN,NaN,NaN,NaN
491,2021,Sul,publica,fundamental,iniciais (1-5),NaN,NaN,NaN,NaN,NaN,NaN
492,2021,Sul,total,fundamental,finais (6-9),NaN,NaN,NaN,NaN,NaN,NaN
493,2021,Sul,total,fundamental,iniciais (1-5),NaN,NaN,NaN,NaN,NaN,NaN
494,2021,Sul,total,medio,todos (1-4),NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
from sklearn.impute import SimpleImputer
import numpy as np

In [60]:
median_imputer = SimpleImputer(missing_values=np.nan,strategy='median')
mean_imputer = SimpleImputer(missing_values=np.nan,strategy='mean')

In [87]:
dfresult.taxa_aprovacao = median_imputer.fit_transform(dfresult[['taxa_aprovacao']])
dfresult.nota_saeb_lingua_portuguesa = mean_imputer.fit_transform(dfresult[['nota_saeb_lingua_portuguesa']])
dfresult.nota_saeb_matematica = mean_imputer.fit_transform(dfresult[['nota_saeb_matematica']])
dfresult.indicador_rendimento = mean_imputer.fit_transform(dfresult[['indicador_rendimento']])
dfresult.ideb= mean_imputer.fit_transform(dfresult[['ideb']])

In [72]:
dfresult

,ano,regiao,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb
0,2005,Centro-Oeste,estadual,fundamental,finais (6-9),72.1,0.721828,233.500000,227.880000,43.564.529,3.1
1,2005,Centro-Oeste,estadual,fundamental,iniciais (1-5),83.0,0.837081,185.380000,172.130000,4.631.618,3.9
2,2005,Centro-Oeste,estadual,medio,todos (1-4),68.0,0.695138,261.230000,251.520000,41.236.539,2.9
3,2005,Centro-Oeste,privada,fundamental,finais (6-9),94.4,0.943491,283.570000,266.820000,58.401.828,5.5
4,2005,Centro-Oeste,privada,fundamental,iniciais (1-5),97.3,0.972388,223.640000,210.360000,6.057.024,5.9
...,...,...,...,...,...,...,...,...,...,...,...
490,2021,Sul,publica,fundamental,finais (6-9),88.7,0.877072,250.111386,240.467614,NaN,NaN
491,2021,Sul,publica,fundamental,iniciais (1-5),88.7,0.877072,250.111386,240.467614,NaN,NaN
492,2021,Sul,total,fundamental,finais (6-9),88.7,0.877072,250.111386,240.467614,NaN,NaN
493,2021,Sul,total,fundamental,iniciais (1-5),88.7,0.877072,250.111386,240.467614,NaN,NaN
494,2021,Sul,total,medio,todos (1-4),88.7,0.877072,250.111386,240.467614,NaN,NaN

In [83]:
#deixando somente os dados necessarios

dfresult.drop(["nota_saeb_media_padronizada", "rede", "ensino","indicador_rendimento","anos_escolares"], axis=1, inplace=True)

In [88]:
dfresult

,taxa_aprovacao,nota_saeb_matematica,nota_saeb_lingua_portuguesa,ideb
0,72.1,233.500000,227.880000,3.100000
1,83.0,185.380000,172.130000,3.900000
2,68.0,261.230000,251.520000,2.900000
3,94.4,283.570000,266.820000,5.500000
4,97.3,223.640000,210.360000,5.900000
...,...,...,...,...
490,88.7,250.111386,240.467614,4.697727
491,88.7,250.111386,240.467614,4.697727
492,88.7,250.111386,240.467614,4.697727
493,88.7,250.111386,240.467614,4.697727
494,88.7,250.111386,240.467614,4.697727